[app]
debug = true
trace = false
host = http://rbac.test/
name = rbac权限管理

[database]
hostname = 127.0.0.1
database = rbac
username = root
password = root
hostport = 3306

[redis]
host = redis
port = 6379
password =

[sms]
account =
password =

[email]
username =
password =
host = smtp.163.com
port = 25
debug = 0
from_address =
from_name =
reply_address =
reply_name =

[weixin]
mini_appid =
mini_app_sercret =
